---
import img1 from "@assets/chmx.webp";
import { Image } from "astro:assets";
---

<section class="py-16 px-8 lg:py-28">
  <div class="container mx-auto grid items-center lg:grid-cols-2">
    <div class="row-start-2 mt-12 lg:row-auto lg:mt-0 lg:pr-12">
      <div color="blue-gray" class="mb-6">Basic Starter Pack</div>
      <div color="gray" class="mb-12">
        I always felt like I could do anything. That&apos;s the main thing
        people are controlled by! They&apos;re slowed down by{" "}
        <a
          href="#"
          class="underline underline-offset-4 transition-colors hover:text-blue-500"
        >
          their perception of themselves
        </a>
         . If you&apos;re taught you can&apos;t do anything, you won&apos;t do
        anything. I was taught I could do everything.
        <br />
        <br />
         The time is now for it to be okay to be great. For being a bright
        color. For standing out. But the time is now to be okay to{" "}
        <a
          href="#"
          class="underline underline-offset-4 transition-colors hover:text-blue-500"
        >
          be the greatest you
        </a>
         . Would you believe in what you believe in, if you were the only one
        who believed it?
        <br />
        <br />
         We&apos;re not always in the position that we want to be at. We&apos;re
        constantly growing. We&apos;re constantly making mistakes. We&apos;re
        constantly trying to express ourselves and actualize our dreams.
      </div>
      <div class="inline-flex flex-wrap gap-3">
        <a color="dark">get in touch</a>
        <a color="dark">our process</a>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/photo-1680285251132-e1c238bf5e75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
      alt="team work"
      class="max-h-[50vh] w-full rounded-xl object-cover object-center md:max-h-[75vh]"
    />
  </div>
</section>

<div
  class="bg-gradient-to-br from-sky-500 to-purple-600 py-16 md:bg-gradient-to-r rounded-sm"
>
  <div class="container m-auto px-6 text-center md:px-12 lg:px-20">
    <h2 class="mb-8 text-4xl font-bold text-white md:text-4xl">
      ¡Amigos cercanos y lejanos, los niños de Cofradia esperan con ansias la
      alegría de la temporada festiva!
    </h2>
    <a
      href="#"
      class="relative flex h-12 w-full mx-auto items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-white before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
    >
      <span class="relative text-base font-semibold text-purple-600"
        >Service Week Schedule</span
      >
    </a>
  </div>
</div>
