---
import Botton from "@components/layout/Botton.astro";
import { Image } from "astro:assets";
import image from "@assets/team.webp";
---

<div class="relative w-full py-12 px-12 h-screen min-h-screen">
  <div class="relative z-10 text-center py-12 md:py-24">
    <h1
      class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold mb-6"
    >
      Endlessly customizable
    </h1><p class="text-white mb-10 text-base md:text-lg font-bold">
      Organically grow the holistic world view of disruptive innovation via
      workplace diversity and empowerment.
    </p>
    <Botton
      name="Donate"
      link="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E55454&id=12"
    />
  </div>
  <Image
    src={image}
    class="w-full h-full absolute inset-0 bg-cover object-cover"
    alt=`Image ${image}`
    quality={"high"}
    loading={"lazy"}
    format="avif"
  />
</div>
