---
import datos from "@assets/data.webp";
import { Image } from "astro:assets";
---

<section
  class="min-w-[1400px] flex flex-col min-h-screen bg-slate-800 text-white bg-center bg-cover bg-blend-overlay bg-fixed bg-black/30"
  style="background-image: url('https://source.unsplash.com/random/')"
>
  <!-- Hero Section Content -->
  <div class="flex-auto flex items-center">
    <div class="text-center mx-auto">
      <h1 class="text-6xl font-semibold">Welcome to my site!</h1>
      <p class="font-light text-3xl mt-5">The land of opportunity.</p>
      <a
        class="px-5 py-2 inline-block bg-cyan-500 text-white hover:bg-cyan-400 transition-colors mt-10"
        href="">Get Started</a
      >
    </div>
  </div>
</section>
