---
import para from "@assets/intro.webp";
import { Image } from "astro:assets";
import Botton from "@components/layout/Botton.astro";
---

<div>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-12 container xl:max-w-[1400px] mx-auto px-4 py-16 md:px-8"
  >
    <div class="flex items-center text-center lg:text-left">
      <div>
        <div>
          <h3
            class="text-xl leading-relaxed font-medium text-gray-700 dark:text-gray-300"
          >
            Somos una organización sin fines de lucro con una misión clara:
            apoyar a estudiantes en Colima, México, para que construyan un
            futuro mejor a través de la educación. A su ves creamos
            oportunidades para que voluntarios de todo el mundo participen en un
            valioso servicio humanitario, fomentando la amistad y el
            entendimiento entre culturas.
          </h3>
        </div>
      </div>
    </div>
    <div class="flex items-center lg:justify-end">
      <picture class="mx-5 lg:w-8/12">
        <Image
          class="relative rounded-lg mx-auto shadow-lg"
          alt="hero"
          src={para}
          quality={"mid"}
          format="avif"
          loading={"lazy"}
        />
      </picture>
    </div>
  </div>
</div>
