---

---

<div class="grid md:grid-cols-4 gap-10 mx-auto mt-12">
  <div class="group">
    <div class="w-full aspect-square">
      <picture
        ><source
          srcset="/_astro/photo-1487309078313-fad80c3ec1e5_Z27Mt0B.avif"
          type="image/avif"
        /><source
          srcset="/_astro/photo-1487309078313-fad80c3ec1e5_Z1YuIl9.webp"
          type="image/webp"
        /><img
          src="/_astro/photo-1487309078313-fad80c3ec1e5_Z2lG94a.png"
          alt="Daniel Collins"
          loading="lazy"
          class="w-full h-full object-cover bg-white rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
          width="400"
          height="400"
          decoding="async"
        /></picture>
    </div><div class="mt-4 text-center">
      <h2 class="text-lg text-gray-800">Daniel Collins</h2><h3
        class="text-sm text-slate-500"
      >
        Chief Sales Officer
      </h3>
    </div>
  </div><div class="group">
    <div class="w-full aspect-square">
      <picture
        ><source
          srcset="/_astro/photo-1553514029-1318c9127859_Z2kLjd.avif"
          type="image/avif"
        /><source
          srcset="/_astro/photo-1553514029-1318c9127859_5VXlf.webp"
          type="image/webp"
        /><img
          src="/_astro/photo-1553514029-1318c9127859_Z2hzlsn.png"
          alt="Janette Lynch"
          loading="lazy"
          class="w-full h-full object-cover bg-white rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
          width="400"
          height="400"
          decoding="async"
        /></picture>
    </div><div class="mt-4 text-center">
      <h2 class="text-lg text-gray-800">Janette Lynch</h2><h3
        class="text-sm text-slate-500"
      >
        Senior Director
      </h3>
    </div>
  </div><div class="group">
    <div class="w-full aspect-square">
      <picture
        ><source
          srcset="/_astro/photo-1611695434369-a8f5d76ceb7b_Z2rq9AH.avif"
          type="image/avif"
        /><source
          srcset="/_astro/photo-1611695434369-a8f5d76ceb7b_Z2j8oVf.webp"
          type="image/webp"
        /><img
          src="/_astro/photo-1611695434369-a8f5d76ceb7b_2nQzdP.png"
          alt="Marcell Ziemann"
          loading="lazy"
          class="w-full h-full object-cover bg-white rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
          width="400"
          height="400"
          decoding="async"
        /></picture>
    </div><div class="mt-4 text-center">
      <h2 class="text-lg text-gray-800">Marcell Ziemann</h2><h3
        class="text-sm text-slate-500"
      >
        Principal Strategist
      </h3>
    </div>
  </div><div class="group">
    <div class="w-full aspect-square">
      <picture
        ><source
          srcset="/_astro/photo-1519345182560-3f2917c472ef_Z26zrzv.avif"
          type="image/avif"
        /><source
          srcset="/_astro/photo-1519345182560-3f2917c472ef_Z1XhGU3.webp"
          type="image/webp"
        /><img
          src="/_astro/photo-1519345182560-3f2917c472ef_Z2lDKoX.png"
          alt="Robert Palmer"
          loading="lazy"
          class="w-full h-full object-cover bg-white rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
          width="400"
          height="400"
          decoding="async"
        /></picture>
    </div><div class="mt-4 text-center">
      <h2 class="text-lg text-gray-800">Robert Palmer</h2><h3
        class="text-sm text-slate-500"
      >
        Marketing Engineer
      </h3>
    </div>
  </div>
</div>
