---
interface Props {
  name: string;
  link: string;
}
const { name, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="justify-center transition-all rounded-xl
   text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55
   hover:shadow-lg duration-300 ease-in-out hover:scale-110
   hover:opacity-90 no-underline mr-4 p-4 text-2xl dark:bg-slate-50 bg-sky-800
    text-slate-50 dark:text-sky-700 hover:bg-slate-100 hover:text-sky-700
     hover:border-sky-600 border dark:hover:bg-sky-600 dark:hover:text-slate-50 dark:hover:border-white"
>
  {name}
</a>
