---
interface Props {
  name: string;
  link: string;
}
const { name, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="transition-all duration-300 ease-in-out button"
>
  {name}
</a>

<style>
  .button {
    padding: 1.3em 3em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #b8e5ff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }

  .button:hover {
    background-color: #1ab2fc;
    box-shadow: 0px 15px 20px rgba(10, 103, 161, 0.3);
    color: #fff;

    transform: translateY(-7px);
  }

  .button:active {
    transform: translateY(-1px);
  }
</style>
