---

---

<div class="items-center justify-center flex w-full h-screen">
  <div class="text-center">
    <h1 class="text-6xl font-bold text-red-500 mb-4">404 Not Found</h1>
    <p class="text-slate-600 text-lg mb-8">
      La página que estás buscando no ha sido encontrada.
    </p>
    <a
      href="/"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-block animate-bounce transition-all duration-300 ease-in-out"
      >Regresar al inicio</a
    >
  </div>
</div>
