---
interface Props {
  link: string;
}
const { link } = Astro.props;
---

<div class="flex 2xl:mx-32 pt-4">
  <a
    id="goBack"
    href={link}
    class="font-bold py-2 px-4 inline-flex items-center transition-all dark:hover:bg-slate-700
    rounded-full hover:bg-slate-300 hover:-translate-x-2 duration-300"
  >
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-10 h-10 text-slate-800 dark:text-slate-200"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
    </svg>
  </a>
</div>
