---
import { Image } from "astro:assets";
import { about } from "@data/about";
---

<div class="py-12 max-w-[1400px] mx-auto prose">
  <div class="text-center xl:prose-lg">
    <h1
      class="text-3xl md:text-5xl font-semibold transition-all duration-300 dark:text-slate-300 text-slate-950"
    >
      Sobre nosotros
    </h1>
  </div>

  <h3
    class="font-extrabold text-xl my-4 transition-all duration-300
     dark:text-slate-300 text-slate-950 xl:prose-lg mx-auto px-4 md:px-8"
  >
    Declaración de la misión de Project Amigo
  </h3>

  <div>
    <div>
      <div class="m-auto space-y-12 px-4 md:px-8">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {
            about.map((a, index) => {
              const divClasses = `p-5 md:p-7 xl:p-10 border shadow-sm rounded-lg group:transition-all duration-300 hover:border-[#089dd0] dark:bg-gray-800 dark:border-gray-800 dark:hover:border-blue-400 dark:shadow-none ${
                index === about.length - 1 ? "sm:col-span-2 lg:col-span-1" : ""
              }`;

              return (
                <div class={divClasses}>
                  <div>
                    <Image
                      src={a.imagen}
                      class="mx-auto inline-block w-12 h-12"
                      width="512"
                      height="512"
                      alt="image png"
                      quality={"low"}
                      format="avif"
                      loading={"lazy"}
                    />
                    <div>
                      <h3 class="text-lg font-bold mb-2 dark:text-slate-300">
                        {a.title}
                      </h3>
                      <p class="dark:text-slate-300 text-slate-950">{a.text}</p>
                    </div>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>

    <p
      class="prose-lg transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto px-6"
    >
      La educación y la alfabetización son claves poderosas para permitir un
      futuro más brillante para los niños del mundo, que a su vez benefician a
      las naciones en las que viven. Durante casi tres décadas, el Proyecto
      Amigo ha ayudado a los niños rurales en México a continuar su educación
      formal hasta el nivel universitario inclusive. Existente desde 1984, y
      formalmente como una organización benéfica sin fines de lucro 501 (c) (3)
      estadounidense desde 1996, Project Amigo ofrece becas educativas, apoyo
      material, actividades de enriquecimiento y atención médica preventiva y
      correctiva a niños y jóvenes desfavorecidos en el estado de Colima.
    </p>
  </div>
</div>
