---
import Layout from "../layouts/Layout.astro";
import Mision from "@components/about/Mision.astro";
import Board from "@components/about/Board.astro";
import { getCollection } from "astro:content";
const about = await getCollection("about");
---

<Layout title="About">
  <div class="px-4 mx-auto md:px-8">
    <Mision />
    <div class="mx-auto max-w-[1400px] mb-12 px-4 md:px-8" id="board">
      <h1
        class="transition-all duration-300 font-extrabold text-xl my-4
         dark:text-sky-400 text-sky-600 prose xl:prose-lg mx-auto px-4 md:px-8"
      >
        The Projec Amigo México Board
      </h1>
      <Board about={about} />
    </div>
  </div>
</Layout>
