---
import Layout from "../layouts/Layout.astro";
import Contacto from "@components/contact/Contacto.astro";
import Map from "@components/contact/Map.astro";
---

<Layout title="Contact">
  <div class="px-4 mx-auto md:px-8">
    <Contacto />
  </div>
  <Map />
</Layout>
