---
import Layout from "@layouts/Layout.astro";
import Getin from "@components/involved/Getin.astro";
---

<Layout title="Get Involved">
  <div class="px-4 mx-auto md:px-6">
    <Getin />
  </div>
</Layout>
