---
import Promo from "@components/aba/Promo.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "@components/aba/Banner.astro";
import SliderSection from "@components/layout/SliderSection.astro";
import Historial from "@components/aba/Historial.astro";
import Intro2 from "@components/aba/intro2.astro";
import Ast1 from "@components/aba/Ast1.astro";
import Ways from "@components/aba/Ways.astro";
---

<Layout title="Home">
  <Intro2 />
  <div class="px-4 mx-auto md:px-8 container">
    <Promo />
    <SliderSection />
    <Historial />
    <Ast1 />
  </div>
  <Ways />
  <Banner />
</Layout>
