---
import Promo from "@components/aba/Promo.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "@components/aba/Banner.astro";
import SliderSection from "@components/layout/SliderSection.astro";
import Historial from "@components/aba/Historial.astro";
import Team from "@components/aba/Team.astro";
import Try from "@components/aba/Try.astro";
---

<Layout title="Home">
  <div class="px-4 mx-auto md:px-8 container">
    <Promo />
    <SliderSection />
    <Historial />
    <Team />
    <Try />
  </div>
  <Banner />
</Layout>
