---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Home/Hero.astro";
import Content from "@components/Home/Content.astro";
import Content2 from "@components/Home/Content2.astro";
import Logros from "@components/Home/Logros.astro";
import Ways from "@components/Home/Ways.astro";
import Banner from "@components/Home/Banner.astro";
---

<Layout title="Home">
  <Hero />
  <div class="px-4 mx-auto md:px-8">
    <Content />
    <Content2 />
    <Logros />
  </div>
  <Ways />
  <Banner />
</Layout>
