---
import Layout from "../layouts/Layout.astro";
import SafetyandC from "@components/layout/SafetyandC.astro";
---

<Layout title="Safety">
  <div class="px-4 mx-auto md:px-6">
    <SafetyandC />
  </div>
</Layout>
