---
import Layout from "../layouts/Layout.astro";
import TimeLine from "@components/weeks/TimeLine.astro";
import Fechas from "@components/weeks/Fechas.astro";
import Weeks from "@components/weeks/Weeks.astro";
import { getCollection } from "astro:content";
const weeks = await getCollection("weeks");
---

<Layout title="Service Weeks">
  <Fechas />
  <div class="px-4 mx-auto md:px-8 space-y-12">
    <div class="py-12">
      <TimeLine />
    </div>
    <div id="week">
      <Weeks weeks={weeks} />
    </div>
  </div>
</Layout>
