---
import { Image } from "astro:assets";
import image2 from "@assets/gale4.webp";
---

<div class="py-16 max-w-[1400px] mx-auto">
  <div class="mx-auto px-4 text-gray-600 md:px-8">
    <div class="md:flex flex-row-reverse md:gap-6 md:space-y-0">
      <div class="md:5/12 lg:w-1/2 pl-8">
        <Image
          src={image2}
          alt="image"
          loading="lazy"
          format="avif"
          quality={"mid"}
          class={" rounded-lg"}
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2
          class="text-3xl font-bold md:text-4xl text-slate-800 dark:text-slate-300"
        >
          Cras ac ligula sit amet lorem euismod tincidunt.
        </h2>
        <p class="mt-8 mb-4 text-slate-800 dark:text-slate-300 prose-lg">
          Sus donaciones apoyan a nuestros niños que sueñan con convertirse en
          los primeros en sus familias en graduarse de la escuela secundaria y
          obtener un título universitario que, en última instancia, transformará
          sus vidas y también las vidas de sus familias. ¡Gracias por su
          generosidad, por venir a Colima y por amar a nuestros niños! Puede
          hacer clic en el botón de donación de arriba para una donación en
          línea o puede enviar un cheque a nuestra dirección postal.
        </p>
        <p class="prose-lg text-slate-800 dark:text-slate-300">
          Contacto: <a
            class="hover:text-sky-500 underline"
            href="mailto:bayardo@projectamigo.org"
            target="_blank">bayardo@projectamigo.org</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
