---

---

<div class="mb-24">
  <div
    class="py-16 max-w-[1400px] mx-auto flex flex-col items-center justify-center px-4 md:px-8 transition-all duration-300"
  >
    <h2
      class="text-4xl lg:text-5xl text-slate-800 dark:text-slate-200 font-bold lg:tracking-tight text-center"
    >
      Some about PorjectAmigo achievements
    </h2><p
      class="text-lg mt-4 text-slate-800 dark:text-slate-200 text-center [text-wrap:pretty]"
    >
      Nullam eleifend quam quis venenatis viverra. Duis id mauris dictum, luctus
      dui eu, faucibus nulla. Maecenas non ante ac sem blandit placerat quis
      quis mauris. Cras ac ligula sit amet lorem euismod tincidunt.
    </p>
  </div>

  <div
    class="grid sm:grid-cols-2 md:grid-cols-3 gap-8 md:gap-16 mx-auto px-4 md:px-8 max-w-[1400px]"
  >
    <div
      class="flex flex-col gap-4 items-start group
     hover:bg-slate-100 hover:border-slate-300
     hover:dark:bg-slate-700 hover:dark:border-slate-700 border
    border-transparent rounded-lg transition-all md:-m-5 p-5"
    >
      <div
        class="mt-1 bg-blue-50 border shadow shadow-blue-100/50 border-blue-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0"
      >
        <svg
          width="30"
          height="30"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="text-blue-500"
        >
          <path
            fill="currentColor"
            d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-4Zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10H5Z"
          ></path>
          <path
            d="M8 0a2 2 0 0 0-2 2H3.5a2 2 0 0 0-2 2v1c0 .52.198.993.523 1.349A.5.5 0 0 0 2 6.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V6.5a.5.5 0 0 0-.023-.151c.325-.356.523-.83.523-1.349V4a2 2 0 0 0-2-2H10a2 2 0 0 0-2-2Zm0 1a1 1 0 0 0-1 1h2a1 1 0 0 0-1-1ZM3 14V6.937c.16.041.327.063.5.063h4v.5a.5.5 0 0 0 1 0V7h4c.173 0 .34-.022.5-.063V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm9.5-11a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-9a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h9Z"
          ></path>
        </svg>
      </div>
      <div>
        <h3 class="font-semibold text-lg">Active Students</h3>
        <p class="text-slate-800 dark:text-slate-300 mt-2">
          Mauris sit amet vehicula purus. Maecenas vitae ante nisl. Donec
          faucibus nisi et justo consectetur pulvinar.
        </p>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 items-start group hover:bg-slate-100 hover:border-slate-300
    hover:dark:bg-slate-700 hover:dark:border-slate-700 border border-transparent rounded-lg transition-all md:-m-5 p-5"
    >
      <div
        class="mt-1 bg-blue-50 border shadow shadow-blue-100/50 border-blue-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0"
      >
        <svg
          width="30"
          height="30"
          fill="currentColor"
          class="text-blue-500"
          viewBox="0 0 24 24"
          astro-icon="fluent:trophy-24-regular"
        >
          <path
            fill="currentColor"
            d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"
          ></path>
          <path
            d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"
          ></path>
        </svg>
      </div><div>
        <h3 class="font-semibold text-lg">Graduated Students</h3>
        <p class="text-slate-800 dark:text-slate-300 mt-2">
          Mauris sit amet vehicula purus. Maecenas vitae ante nisl. Donec
          faucibus nisi et justo consectetur pulvinar.
        </p>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 items-start group hover:bg-slate-100 hover:border-slate-300
    hover:dark:bg-slate-700 hover:dark:border-slate-700 border border-transparent rounded-lg transition-all md:-m-5 p-5"
    >
      <div
        class="mt-1 bg-blue-50 border shadow shadow-blue-100/50 border-blue-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0"
      >
        <svg
          width="30"
          height="30"
          fill="currentColor"
          class="text-blue-500"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"
          ></path>
          <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"
          ></path>
        </svg>
      </div>
      <div>
        <h3 class="font-semibold text-lg">Years Working out</h3>
        <p class="text-slate-800 dark:text-slate-300 mt-2">
          Mauris sit amet vehicula purus. Maecenas vitae ante nisl. Donec
          faucibus nisi et justo consectetur pulvinar.
        </p>
      </div>
    </div>
  </div>
</div>
