---
import SocialMedia from "@components/layout/SocialMedia.astro";
---

<section
  class="min-h-screen bg-cover mx-auto"
  style="background-image: url('./Carrousel/two.webp')"
>
  <div
    class="flex flex-col min-h-screen bg-black/30 marker:px-4 md:px-8 mx-auto"
  >
    <div class="container flex flex-col flex-1 py-12 mx-auto px-6">
      <div class="flex-1 lg:flex lg:items-center lg:-mx-6">
        <div class="text-white lg:w-1/2 lg:mx-6">
          <h1 class="text-2xl font-semibold capitalize lg:text-3xl">
            Ninguna pregunta es demasiado pequeña, ¡estamos aquí para ayudarlo!
          </h1>

          <p class="max-w-xl mt-6 text-lg">
            ¡Los miembros de nuestro personal dedicado son bilingües y están
            disponibles para ayudarlo con todo lo relacionado con el Proyecto
            Amigo! Para todas las consultas sobre Work Weeks, registrarse para
            las semanas laborales, preguntas sobre viajes en México (vacunas,
            tipos de cambio, qué empacar, etc.) y confirmar sus arreglos de
            viaje
          </p>

          <div class="mt-6 md:mt-8">
            <h3 class="text-white text-2xl text-center">Síguenos</h3>

            <div class="flex mt-4 -mx-1.5">
              <SocialMedia />
            </div>
          </div>
        </div>

        <div class="mt-8 lg:w-1/2 lg:mx-6">
          <div
            class="w-full px-8 py-10 mx-auto overflow-hidden bg-white shadow-2xl rounded-xl dark:bg-slate-900 lg:max-w-xl"
          >
            <h1 class="text-xl font-medium text-slate-700 dark:text-slate-200">
              Formulario
            </h1>

            <p class="mt-2 text-slate-500 dark:text-slate-400">
              Para cualquier otra consulta, complete el formulario a
              continuación.
            </p>

            <form class="mt-6">
              <div class="flex-1">
                <label
                  class="block mb-2 text-sm text-slate-600 dark:text-slate-200"
                  >Nombre Completo</label
                >
                <input
                  type="text"
                  placeholder="Jorge Torres"
                  class="block w-full px-5 py-3 mt-2 text-slate-700 bg-white border border-slate-200 rounded-md dark:bg-slate-900 dark:text-slate-300 dark:border-slate-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
                />
              </div>

              <div class="flex-1 mt-6">
                <label
                  class="block mb-2 text-sm text-slate-600 dark:text-slate-200"
                  >Correo
                </label>
                <input
                  type="email"
                  placeholder="jorge@gmail.com"
                  class="block w-full px-5 py-3 mt-2 text-slate-700 bg-white border border-slate-200 rounded-md dark:bg-slate-900 dark:text-slate-300 dark:border-slate-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
                />
              </div>

              <div class="w-full mt-6">
                <label
                  class="block mb-2 text-sm text-slate-600 dark:text-slate-200"
                  >Mensaje</label
                >
                <textarea
                  class="block w-full h-32 px-5 py-3 mt-2 text-slate-700 placeholder-slate-400 bg-white border border-slate-200 rounded-md md:h-48 dark:bg-slate-900 dark:text-slate-300 dark:border-slate-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
                  placeholder="Mensaje"></textarea>
              </div>

              <button
                class="w-full px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white
                capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-50"
              >
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
