---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "@components/ThemeToggle";
import { Image } from "astro:assets";
import paLogo from "@assets/blue_logo.webp";

const navItems = [
  { title: "Home", path: "/" },
  { title: "Get Involved", path: "/getInvolved" },
  { title: "Service Weeks", path: "/serviceWeeks" },
  { title: "Safety", path: "/safety" },
  { title: "About Us", path: "/aboutUs" },
  { title: "Contact", path: "/contact" },
];
---

<div class="shadow-sm bg-[#089dd0]">
  <div class="max-w-xl mx-auto">
    <header class="px-4 mx-auto lg:pt-4 lg:px-8 md:px-8 md:pb-4">
      <Astronav closeOnClick>
        <div
          class="mx-auto lg:mb-6 flex items-center justify-center lg:justify-between"
        >
          <div class="text-center w-full">
            <div class="flex flex-col items-center mx-auto">
              <a
                class="flex transition-all duration-300"
                href="/"
                aria-label="PA home"
                role="link"
              >
                <Image
                  alt="Pa logo"
                  src={paLogo}
                  quality="low"
                  format="avif"
                  loading="lazy"
                  class="w-full md:block flex py-2 mx-auto"
                  quality="low"
                />
              </a>
            </div>
          </div>
          <ThemeToggle client:load />

          <div class="block lg:hidden px-4">
            <MenuIcon class="w-5 h-5 text-white" />
          </div>
        </div>
        <MenuItems class="hidden lg:flex">
          <div class="flex flex-col items-center justify-between md:flex-row">
            {
              navItems.map((item) => (
                <ul>
                  <li>
                    <a
                      href={item.path}
                      class={
                        "navbar flex-row justify-center text-white transition-all hover:bg-[#07759d]  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg  px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55   mr-2 mb-2 hover:shadow-lg  duration-300 ease-in-out hover:scale-110 scale-90 gap-x-2 "
                      }
                      aria-label={item.title}
                    >
                      {item.title}
                    </a>
                  </li>
                </ul>
              ))
            }
          </div>
        </MenuItems>
      </Astronav>
    </header>
  </div>
</div>

<style>
  .navbar {
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .navbar a.active {
    background: red;
    color: red;
  }
</style>

<script>
  const nav = document.querySelector(".navbar");
  const navLinks = nav?.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks?.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>
