---
import Layout from "@layouts/Layout.astro";
import Rotary from "@components/involved/Rotary.astro";
import ImageSlider from "@components/layout/ImageSlider";
import { Image } from "astro:assets";
import rotaryLogo from "@assets/rotaryLogo.png";
import Return from "@components/layout/Return.astro";
---

<Layout title="Rotary">
  <div class="py-12 max-w-[1400px] mx-auto prose lg:prose-lg px-4 md:px-8">
    <Return path="/getIncolved#getin" />

    <div class="text-center flex items-center justify-center">
      <h1
        class="text-5xl md:text-6xl font-semibold transition-all duration-300 text-sky-600 dark:text-sky-800"
      >
        Rotary
      </h1>
      <Image
        src={rotaryLogo}
        alt="Rotarios Logo"
        class="ml-2 w-8 h-8 md:w-12 md:h-12 md:mb-14 mb-14"
        quality={"low"}
        loading={"lazy"}
        format="avif"
      />
    </div>

    <div>
      <p
        class="prose-lg transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto px-4"
      >
        Su longevidad a las contribuciones de “servicio por encima de uno mismo”
        de miles de rotarios y clubes rotarios. Fuimos el “proyecto” de servicio
        internacional oficial del Rotary Club de Novato, CA entre 1996 y 2002.
        Hoy somos una organización benéfica pública independiente y asociación
        civil reconocida en Estados Unidos, Canadá y México, y seguimos
        agradeciendo a los rotarios y a Rotary. clubes por su apoyo profundo,
        generoso y continuo. La misión de Project Amigo es apoyar a los jóvenes
        en Colima, México para crear sus propias oportunidades educativas y
        mejorar su calidad de vida. También ofrecemos oportunidades de servicio
        internacional que cambia la vida de aquellos con mayores recursos, lo
        que es una combinación perfecta para servir de manera significativa,
        generosa y eficaz más allá de uno mismo.
      </p>
      <p
        class="prose-lg transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto px-4"
      >
        Los rotarios individuales y los clubes rotarios pueden:
      </p>
    </div>
    <div class="p-4 transition-all duration-300">
      <ul class="list-disc list-inside dark:text-slate-300 text-slate-800">
        <li>
          Patrocine a niños de primaria en el Programa de Incentivos; fomentar
          la participación del club en el programa de patrocinio
        </li>
        <li>
          Patrocinar a jóvenes de secundaria o adultos jóvenes universitarios a
          través del Programa de Becas; fomentar la participación del Club en el
          programa de becas.
        </li>
        <li>
          Sirva con nosotros en México en una Semana de Trabajo de Servicio
          Humanitario
        </li>
        <li>
          ¡Traiga a todo su club para una semana laboral de servicio
          humanitario!
        </li>
        <li>
          Invite a los representantes de Project Amigo a hacer una presentación
          en su club rotario.
        </li>
        <li>
          Desarrollar subvenciones para clubes o distritos para financiar la
          compra de libros para nuestro programa de alfabetización en curso.
        </li>
        <li>
          Contribuir a varias campañas de "necesidades especiales" que surgen
          cada año
        </li>
      </ul>
    </div>
    <ImageSlider client:load />
    <Rotary />
  </div>
</Layout>
