---
import Layout from "@layouts/Layout.astro";
import Patro from "@components/involved/Patro.astro";
import Return from "@components/layout/Return.astro";
---

<Layout title="Patrocinadores">
  <div class="py-12 max-w-[1400px] mx-auto prose lg:prose-lg px-4 md:px-8">
    <Return link="/getInvolved#getin" />

    <div class="text-center">
      <h1
        class="text-3xl md:text-5xl font-semibold transition-all duration-300 dark:text-slate-300 text-slate-950"
      >
        Patrocinadores corporativos
      </h1>
    </div>

    <div>
      <p
        class="prose-lg transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto px-4"
      >
        Los propietarios de negocios responsables y los líderes corporativos que
        busquen una salida de servicio respetable, significativa y sostenible
        para sus iniciativas de responsabilidad social encontrarán un socio de
        confianza en Project Amigo. Nuestra experiencia con los patrocinadores
        corporativos actuales muestra que su compromiso con la "responsabilidad
        social corporativa" o "ciudadanía corporativa" gana la lealtad de sus
        clientes, quienes luego ayudan a impulsar la historia corporativa y
        construir la marca de forma independiente. Su asociación con Project
        Amigo puede adoptar muchas formas:
      </p>
    </div>
    <div class="p-4 transition-all duration-300">
      <ul class="list-disc list-inside dark:text-slate-300 text-slate-800">
        <li>
          Socio de servicio de registro para aquellos en estados de "corporación
          B"
        </li>
        <li>Campañas anuales simples dentro de su base de empleados</li>
        <li>Campañas corporativas dólar por dólar</li>
        <li>
          “Becas” de la Semana del Servicio Humanitario en México para su
          personal
        </li>
        <li>
          Retiros corporativos en las tierras altas de México con un componente
          de servicio humanitario (alfabetización, educación, distribución de
          ropa)
        </li>
        <li>
          Financiamiento de becas para un número determinado de estudiantes
        </li>
        <li>
          Financiado con cargo a destajo o por artículo en líneas de productos
          específicas.
        </li>
      </ul>
    </div>
    <Patro />
  </div>
</Layout>
