---
import Botton from "@components/layout/Botton.astro";
---

<div class="py-12 max-w-[1400px] mx-auto prose lg:prose-lg px-4 md:px-8">
  <div class="text-center">
    <h1
      class="text-3xl md:text-5xl font-semibold transition-all duration-300 dark:text-slate-300 text-slate-950"
    >
      ¡Guarde las fechas!
    </h1>
  </div>

  <div>
    <p
      class="prose-lg transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto px-4 md:px-81"
    >
      ¡Saludos Amigos! Estamos programando Semanas Laborales nuevamente y le
      invitamos a reservar las fechas para estas increíbles experiencias en
      Colima, México con Project Amigo. Estamos tomando todas las precauciones
      necesarias y estaremos encantados de responder sus preguntas sobre
      vacunas, pruebas rápidas, recomendaciones de viaje, máscaras y otros
      protocolos de seguridad. Tenga en cuenta también que algunas semanas
      laborales tienen espacios limitados disponibles. Comuníquese con nuestra
      Coordinadora de Voluntarios <span class="font-bold underline"
        >Alma Bayardo
      </span> en: <a
        class="text-sky-500"
        href="mailto:bayardo@projectamigo.org"
        target="_blank">bayardo@projectamigo.org</a
      >
    </p>
    <p
      class="prose-lg transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto"
    >
      Después de completar su formulario de registro haciendo clic en el enlace
      a continuación, también le pedimos que envíe un correo electrónico a la
      Coordinadora de Voluntarios <span class="font-bold underline"
        >Alma Bayardo
      </span> ¡Gracias! ¡Estamos ansiosos por verlos a todos de nuevo!
    </p>
  </div>
  <div class="mx-auto text-center pt-4">
    <Botton
      link="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E55454&id=19"
      name="Register Here"
    />
  </div>
</div>
