---
import Content from "@components/involved/Content.astro";
import { getCollection } from "astro:content";
const involved = await getCollection("involved");
import ContentTwo from "@components/involved/ContentTwo.astro";
---

<section>
  <div class="py-12 max-w-[1400px] mx-auto prose lg:prose-lg px-4 md:px-8">
    <div class="text-center">
      <h1
        class="text-3xl md:text-5xl font-semibold transition-all duration-300 dark:text-slate-300 text-slate-950"
      >
        Ways to get Involved
      </h1>
    </div>

    <div class="md:px-8 mx-auto px-4">
      <p
        class="prose-xl transition-all duration-300 dark:text-slate-300 text-slate-950 mx-auto px-4"
      >
        Únete a nuestras Service Weeks en México y vive la auténtica cultura
        mexicana mientras contribuyes a proyectos diversos, desde actividades
        educativas hasta sociales. Experimenta la riqueza culinaria y las
        tradiciones del país mientras haces una diferencia en las vidas de los
        jóvenes en Colima. ¡Te esperamos para una experiencia enriquecedora y
        culturalmente diversa!
      </p>
    </div>
  </div>
</section>

<div class="space-y-8 px-4 md:px-8 mx-auto">
  <ContentTwo />
  <Content involved={involved} />
</div>
